body{
  background-color:#15181B;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  width: 200px;
  height: 40px;
  background-color: #FFA500;
  border-radius: 100px;
  border: 0px;
  color:#ffffff;
  cursor: pointer;
}